<template name="universalInputParameters">
  <div class="c-toolbar">
    <h3 class="c-toolbar__title has-divider"></h3>


                <div class="c-field c-field--inline u-mr-small">
                    <label class="c-field__label" for="input2">Susceptible Population</label>
                    <input class="c-input" type="text" placeholder="Susceptible Population">
                </div>
                <div class="c-field c-field--inline u-mr-small">
                    <label class="c-field__label" for="input2">Infected Population</label>
                    <input class="c-input" type="text" placeholder="Infected Population">
                </div>
                <div class="c-field c-field--inline u-mr-small">
                    <label class="c-field__label" for="input2">Recovered Population</label>
                    <input class="c-input" type="text" placeholder="Recovered Population">
                </div>

                <div class="c-field c-field--inline u-mr-small">
                    <label class="c-field__label" for="input2">Days</label>
                    <input class="c-input" type="text" placeholder="Days ">
                </div>

                {{#if simulateDynamicPopulation}}
                  <div class="c-field c-field--inline u-mr-small">
                      <label class="c-field__label" for="input2">Birth Rate</label>
                      <input class="c-input" type="text" placeholder="Birth Rate ">
                  </div>
                  <div class="c-field c-field--inline u-mr-small">
                      <label class="c-field__label" for="input2">Death Rate</label>
                      <input class="c-input" type="text" placeholder="Death Rate ">
                  </div>
                {{/if}}
  </div>
</template>
