<template name="simulateSingle">
    <script src="jquery.js"></script>
    <script src="parsley.min.js"></script>

    <style>
        input.parsley-error {
            color: #B94A48;
            background-color: #F2DEDE;
            border: 1px solid #EED3D7;
        }

        input.parsley-success {
            color: #468847;
            background-color: #DFF0D8;
            border: 1px solid #D6E9C6;
        }


    </style>

    <div class="container  u-mt-medium">
      <div class="row">
          <div class="col-xl-8">
            {{#if render_graph}}
              {{> Graph s=susceptible_population i=infected_population r=recovered_population beta=beta_parameter gammma=gamma_parameter birth=birth_rate death=death_rate days=days_parameter}}
            {{else}}
              <div class="c-card u-p-medium u-text-center u-mb-medium" data-mh="landing-cards" style="">

                  <img class="u-mb-small u-mt-large" src="/img/medicine_b1ol.svg" alt="Doctor icon" width="400px">

                  <h4 class="u-h6 u-mt-medium u-mb-large">
                      You have no input parameters to simulate. <br/> When you add parameters in the form to the <br/> right the model will show up here!
                  </h4>
              </div>
            {{/if}}
              <!-- {{> Graph}} -->
          </div>

          <div class="col-xl-4">
            <div class="c-card u-mb-xsmall">
              <!-- <header class="c-card__header u-pt-large">
                  <h1 class="u-h3 u-text-center u-mb-zero">Input disease parameters</h1>
              </header> -->

              <!-- replace with jquery css selector for class c-input-->

              <form class="c-card__body" data-parsley-validate="" id="singleSimulationForm">
                  <div class="c-field u-mb-small">
                      <label class="c-field__label" for="input1">Beta</label>
                      <input class="c-input inputBeta" type="text" id="input1" placeholder="1.0" data-parsley-type='number' data-parsley-trigger="change" data-parsley-range='[0,1]' required="">
                  </div>

                  <div class="c-field u-mb-small">
                      <label class="c-field__label" for="input2">Gamma</label>
                      <input class="c-input inputGamma" type="text" id="input2" placeholder="0.0" data-parsley-type='number' data-parsley-trigger="change" data-parsley-range='[0,1]' required="">
                  </div>

                  <div class="c-field u-mb-small">
                      <label class="c-field__label" for="input3">Susceptible Population</label>
                      <input class="c-input inputSusceptible" type="text" id="input3" placeholder="1000" data-parsley-type='number' data-parsley-trigger="change" data-parsley-min='10' required="">
                  </div>

                  <div class="c-field u-mb-small">
                      <label class="c-field__label" for="input3">Infected Population</label>
                      <input class="c-input inputInfected" type="text" id="input3" placeholder="200" data-parsley-type='number' data-parsley-trigger="change" data-parsley-min='1' required="">
                  </div>

                  <div class="c-field u-mb-small">
                      <label class="c-field__label" for="input3">Recovered Population</label>
                      <input class="c-input inputRecovered" type="text" id="input3" placeholder="800" data-parsley-type='number' data-parsley-trigger="change" data-parsley-min='0' required="">
                  </div>

                  <div class="c-field u-mb-small">
                      <label class="c-field__label" for="input3">Days</label>
                      <input class="c-input inputDays" type="text" id="input3" placeholder="Days" data-parsley-type='number' data-parsley-trigger="change" data-parsley-min='100' required="">
                  </div>

                  {{#if simulateDynamicPopulation}}
                    <div class="c-field u-mb-small">
                        <label class="c-field__label" for="input3">Birth Rate</label>
                        <input class="c-input inputBirth" type="text" id="input3" placeholder="0" data-parsley-type='number' data-parsley-trigger="change" data-parsley-range='[0,1]' required="">
                    </div>

                    <div class="c-field u-mb-small">
                        <label class="c-field__label" for="input3">Death Rate</label>
                        <input class="c-input inputDeath" type="text" id="input3" placeholder="0" data-parsley-type='number' data-parsley-trigger="change" data-parsley-range='[0,1]' required="">
                    </div>
                  {{/if}}

                  <button class="c-btn c-btn--info c-btn--fullwidth simulate" value="validate">Submit</button>
              </form>
          </div>
          </div>
      </div><!-- // .row -->
  </div>
</template>
