<template name="Home">
      <main class="">
        <header class="c-navbar d-flex align-items-center">
            <h2 class="c-navbar__title u-mr-auto">Select all that apply</h2>
            <form class=" d-flex align-items-center">
              <div class="c-choice c-choice--radio u-mr-small u-mb-zero">
                  <input class="c-choice__input" id="radio2" name="radios" type="radio">
                  <label class="c-choice__label" for="radio2">Herd Immunity</label>
              </div>

              <div class="c-choice c-choice--radio u-mr-small u-mb-zero">
                  <input class="c-choice__input" id="radio3" name="radioss" type="radio">
                  <label class="c-choice__label" for="radio3">Dynamic Population</label>
              </div>

              <div class="c-switch u-mr-small simulateMultiple">
                  <input class="c-switch__input simulateMultipleCheckbox" id="switch2" type="checkbox">
                  <label class="c-switch__label simulateMultipleLabel" for="switch2">Simulate Multiple Scenarios</label>
              </div>

              <div class="c-switch u-mr-small universalParametersSwitch">
                  <input class="c-switch__input universalParametersCheckbox" id="switch1" type="checkbox" >
                  <label class="c-switch__label universalParametersLabel" for="switch1">Use Universal Parameters</label>
              </div>
          </form>
        </header>

        {{#if universalParameters}}
            {{> universalInputParameters}}
        {{/if}}

        {{#if simulateMultipleDiseases}}
          {{#if simulateMultipleResults}}
            {{> simulateMultiple}}
          {{else}}
            {{> multipleInput}}
          {{/if}}
        {{else}}
          {{> simulateSingle}}
        {{/if}}

      </main>
</template>
