<template name="simulateMultiple">
  <div class="c-toolbar u-mb-medium" style="display: flex !important; align-items: flex-start; justify-content: space-between!important;">
    <h3 class="c-toolbar__title has-divider">
      Multiple Disease Simulation
    </h3>
    <button class="c-btn c-btn--info  simulateMultipleEdit" >Edit Data</button>

</div>
  <div class="container-fluid">
      <div class="row">
          {{#each entries}}
          <div class="col-xl-4">
              <div class="c-graph-card" data-mh="graph-cards">
                  <div class="c-graph-card__content u-mb-small">
                      <h3 class="c-graph-card__title">Disease {{@index}}</h3>
                      <p class="c-graph-card__date">A - {{beta}} | B - {{gamma}} | S - {{susceptible}} | I - {{infected}} | R - {{recovered}}</p>
                      <h4 class="c-graph-card__number">{{days}} Days</h4>
                      <p class="c-graph-card__status">Disease with fast spread e.g Ebola</p>
                  </div>
                  {{> Graph s=susceptible i=infected r=recovered beta=beta gammma=gammma birth_rate=birth death_rate=death}}
              </div>
          </div>
          {{/each}}
      </div>
  </div>
</template>
