<template name="simulateMultiple">
  <div class="c-toolbar u-mb-medium">
    <h3 class="c-toolbar__title has-divider">
      Multiple Disease Simulation
    </h3>

                <button class="c-btn c-btn--info  simulateMultipleEdit " style="float: right !important;">Edit Data</button>

</div>
  <div class="container-fluid">
      <div class="row">
          <div class="col-xl-3">
              <div class="c-graph-card" data-mh="graph-cards" style="height: 400px;">
                  <div class="c-graph-card__content">
                      <h3 class="c-graph-card__title">Disease 1</h3>
                      <p class="c-graph-card__date">A - 0.3 | B - 0.2 | S - 134 | I - 12 | R - 5</p>
                      <h4 class="c-graph-card__number">0.03</h4>
                      <p class="c-graph-card__status">Disease with fast spread e.g Ebola</p>
                  </div>

                  <div class="c-graph-card__chart"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                      <canvas id="js-chart-payout" width="610" height="350" class="chartjs-render-monitor" style="display: block; height: 75px; width: 305px;"></canvas>
                  </div>
              </div>
          </div>
          <div class="col-xl-3">
              <div class="c-graph-card" data-mh="graph-cards" style="height: 303px;">
                  <div class="c-graph-card__content">
                      <h3 class="c-graph-card__title">Disease 2</h3>
                      <p class="c-graph-card__date">A - 0.3 | B - 0.2 | S - 134 | I - 12 | R - 5</p>
                      <h4 class="c-graph-card__number">0.03</h4>
                      <p class="c-graph-card__status">Disease with fast spread e.g Ebola</p>
                  </div>

                  <div class="c-graph-card__chart"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                      <canvas id="js-chart-payout" width="610" height="150" class="chartjs-render-monitor" style="display: block; height: 75px; width: 305px;"></canvas>
                  </div>
              </div>
          </div>
          <div class="col-xl-3">
              <div class="c-graph-card" data-mh="graph-cards" style="height: 303px;">
                  <div class="c-graph-card__content">
                      <h3 class="c-graph-card__title">Disease 3</h3>
                      <p class="c-graph-card__date">A - 0.3 | B - 0.2 | S - 134 | I - 12 | R - 5</p>
                      <h4 class="c-graph-card__number">0.03</h4>
                      <p class="c-graph-card__status">Disease with fast spread e.g Ebola</p>
                  </div>

                  <div class="c-graph-card__chart"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                      <canvas id="js-chart-payout" width="610" height="150" class="chartjs-render-monitor" style="display: block; height: 75px; width: 305px;"></canvas>
                  </div>
              </div>
          </div>
          <div class="col-xl-3">
              <div class="c-graph-card" data-mh="graph-cards" style="height: 303px;">
                  <div class="c-graph-card__content">
                      <h3 class="c-graph-card__title">Disease 4</h3>
                      <p class="c-graph-card__date">A - 0.3 | B - 0.2 | S - 134 | I - 12 | R - 5</p>
                      <h4 class="c-graph-card__number">0.03</h4>
                      <p class="c-graph-card__status">Disease with fast spread e.g Ebola</p>
                  </div>

                  <div class="c-graph-card__chart"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                      <canvas id="js-chart-payout" width="610" height="150" class="chartjs-render-monitor" style="display: block; height: 75px; width: 305px;"></canvas>
                  </div>
              </div>
          </div>
      </div>





  </div>
</template>
