<template name="simulateMultiple">
  <div class="c-toolbar u-mb-medium" style="display: flex !important; align-items: flex-start; justify-content: space-between!important;">
    <h3 class="c-toolbar__title has-divider">
      Multiple Disease Simulation
    </h3>
    <button class="c-btn c-btn--info  simulateMultipleEdit" >Edit Data</button>

</div>
  <div class="container-fluid">
      <div class="row">
          {{#each entries}}
          <div class="col-xl-3">
              <div class="c-graph-card" data-mh="graph-cards">
                  <div class="c-graph-card__content">
                      <h3 class="c-graph-card__title">Disease {{@index}}</h3>
                      <p class="c-graph-card__date">A - 0.3 | B - 0.2 | S - 134 | I - 12 | R - 5</p>
                      <h4 class="c-graph-card__number">0.03</h4>
                      <p class="c-graph-card__status">Disease with fast spread e.g Ebola</p>
                  </div>
                  {{> Graph s=susceptible_population i=4 r=10 beta=20 gammma=0 birth_rate=0 death_rate=0}}
              </div>
          </div>
          {{/each}}
      </div>
  </div>
</template>
