<template name="multipleInput">
  <div class="container u-mt-medium">
    <div class="row">
    <div class="col-xl-12">
      <div class="c-table-responsive@desktop">
        <form class="c-card__body multipleInputForm" data-parsley-validate="" >
              <table class="c-table c-table--highlight u-mb-small">

                  <caption class="c-table__title">
                      Multiple Disease Simulation <small>Please enter all parameters necessary in the table below</small>

                      <div class="c-btn c-btn--success float-right u-ml-small addInput" style="float: right !important;">+</div>
                      {{#if entries}}
                      <button class="c-btn c-btn--info float-right simulateMultipleResults" value="validate" style="float: right !important;" >Simulate Diseases</button>
                      {{/if}}
                  </caption>
                  {{#if entries}}
                  <thead class="c-table__head c-table__head--slim">
                      <tr class="c-table__row">
                        <th class="c-table__cell c-table__cell--head">#</th>
                        <th class="c-table__cell c-table__cell--head">Beta</th>
                        <th class="c-table__cell c-table__cell--head">Gamma</th>
                        <th class="c-table__cell c-table__cell--head">Infected Pop.</th>
                        <th class="c-table__cell c-table__cell--head">Recovered Pop.</th>
                        <th class="c-table__cell c-table__cell--head">Susceptible Pop.</th>
                        {{#if simulateDynamicPopulation}}
                          <th class="c-table__cell c-table__cell--head">Death Rate</th>
                          <th class="c-table__cell c-table__cell--head">Birth Rate</th>
                        {{/if}}
                        <th class="c-table__cell c-table__cell--head">
                            <span class="">Days</span>
                        </th>
                        <th class="c-table__cell c-table__cell--head">Delete</th>
                      </tr>
                  </thead>

                  <tbody>

                    {{#each entries}}
                      <tr class="c-table__row">
                          <td class="c-table__cell">
                              <span class="">{{@index}}</span>
                          </td>
                          <td class="c-table__cell">
                              <input class="c-input" type="text" id="input1" placeholder="0.0" value="{{beta}}" data-rowid="{{random_id}}" data-name="beta" required="">
                          </td>

                          <td class="c-table__cell">
                              <input class="c-input" type="text" id="input1" placeholder="0.0" value="{{gamma}}" data-rowid="{{random_id}}" data-name="gamma">
                          </td>
                          <td class="c-table__cell">
                              <input class="c-input" type="text" id="input1" placeholder="0.0" value="{{susceptible}}" data-rowid="{{random_id}}" data-name="susceptible">
                          </td>
                          <td class="c-table__cell">
                              <input class="c-input" type="text" id="input1" placeholder="0.0" value="{{infected}}" data-rowid="{{random_id}}" data-name="infected">
                          </td>
                          <td class="c-table__cell">
                              <input class="c-input" type="text" id="input1" placeholder="0.0" value="{{recovered}}" data-rowid="{{random_id}}" data-name="recovered">
                          </td>
                          <td class="c-table__cell">
                              <input class="c-input" type="text" id="input1" placeholder="0.0" value="{{days}}" data-rowid="{{random_id}}" data-name="days">
                          </td>
                          {{#if simulateDynamicPopulation}}
                          <td class="c-table__cell">
                              <input class="c-input" type="text" id="input1" placeholder="0.0" value="{{birth}}" data-rowid="{{random_id}}" data-name="birth">
                          </td>

                          <td class="c-table__cell">
                              <input class="c-input" type="text" id="input1" placeholder="0.0" value="{{death}}" data-rowid="{{random_id}}" data-name="death">
                          </td>
                          {{/if}}
                          <td class="c-table__cell">
                            <div class="c-btn c-btn--danger float-right u-ml-small removeInput" style="float: right !important;"  data-rowid="{{random_id}}">-</div>
                          </td>
                      </tr>

                      {{/each}}









                  </tbody>
                  {{else}}
                      <div class="c-card u-p-medium u-text-center u-mb-medium" data-mh="landing-cards" style="">

                        <img class="u-mb-small" src="/img/simulation.svg" alt="Doctor icon" width="400px">

                        <h4 class="u-h6 u-mt-medium">
                            You have no input parameters to simulate. <br/> When you add them they will show up here!
                        </h4>
                        <a class="c-btn c-btn--info u-mt-medium addInput" href="#">Start adding</a>
                    </div>
                    {{/if}}
              </table>
                </form>
          </div>
      </div>
      </div>
    </div>
</template>
