<template name="multipleInput">
  <div class="container u-mt-medium">
    <div class="row">
    <div class="col-xl-12">
      <div class="c-table-responsive@desktop">
              <table class="c-table c-table--highlight u-mb-small">

                  <caption class="c-table__title">
                      Multiple Disease Simulation <small>Please enter all parameters necessary in the table below</small>

                      <button class="c-btn c-btn--success float-right u-ml-small addInput" style="float: right !important;">+</button>
                      {{#if entries}}
                      <button class="c-btn c-btn--info float-right simulateMultipleResults" style="float: right !important;">Simulate Diseases</button>
                      {{/if}}
                  </caption>

                  <thead class="c-table__head c-table__head--slim">
                      <tr class="c-table__row">
                        <th class="c-table__cell c-table__cell--head">Beta</th>
                        <th class="c-table__cell c-table__cell--head">Gamma</th>
                        <th class="c-table__cell c-table__cell--head">Infected Pop.</th>
                        <th class="c-table__cell c-table__cell--head">Recovered Pop.</th>
                        <th class="c-table__cell c-table__cell--head">Susceptible Pop.</th>
                        {{#if simulateDynamicPopulation}}
                          <th class="c-table__cell c-table__cell--head">Death Rate</th>
                          <th class="c-table__cell c-table__cell--head">Birth Rate</th>
                        {{/if}}
                        <th class="c-table__cell c-table__cell--head">
                            <span class="">Days</span>
                        </th>
                      </tr>
                  </thead>

                  <tbody>
                    {{#each entries}}
                      <tr class="c-table__row">

                          <td class="c-table__cell">
                              <input class="c-input" type="text" id="input1" placeholder="0.0">
                          </td>

                          <td class="c-table__cell">
                              <input class="c-input" type="text" id="input1" placeholder="0.0">
                          </td>
                          <td class="c-table__cell">
                              <input class="c-input" type="text" id="input1" placeholder="0.0">
                          </td>
                          <td class="c-table__cell">
                              <input class="c-input" type="text" id="input1" placeholder="0.0">
                          </td>
                          <td class="c-table__cell">
                              <input class="c-input" type="text" id="input1" placeholder="0.0">
                          </td>
                          {{#if simulateDynamicPopulation}}
                          <td class="c-table__cell">
                              <input class="c-input" type="text" id="input1" placeholder="0.0">
                          </td>
                          <td class="c-table__cell">
                              <input class="c-input" type="text" id="input1" placeholder="0.0">
                          </td>
                          {{/if}}
                          <td class="c-table__cell">
                              <input class="c-input" type="text" id="input1" placeholder="0.0">
                          </td>
                      </tr>
                      {{/each}}








                  </tbody>
              </table>
          </div>
      </div>
      </div>
    </div>
</template>
